nav .nav-container { display: table; width: 100%; border-collapse: collapse; border: none; position: relative; z-index: 10; }
nav .nav-container #nav { float: none; display: table-row; text-align: center; list-style: none; }
nav .nav-container #nav li { float: none; display: table-cell; margin: 0; }